---
import TemplateLayout from '../layouts/template.astro'
import CountdownTimer from '../components/CountdownTimer';
import ImageWithLoader from '../components/ImageWithLoader';
import { fetchAllResources } from '../utils/getResourcesBySection';

const resourcesBySection = await fetchAllResources();

const graduationDate = new Date('2025-06-22T18:45:00');
interface Resource {
  view_url: string;
  title: string;
}

interface Section {
  sectionResources: Resource[];
}
---

<TemplateLayout title="Nos Graduamos 2022-2025 | El Gran D칤a">

  <head>
    <title>Nos Graduamos | Colegio Izapa</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <style>
      @font-face {
        font-family: 'Bigilla';
        src: url('/fonts/Bigilla.otf') format('opentype');
      }
      @font-face {
        font-family: 'Aloevera';
        src: url('/fonts/Aloevera-Medium.otf') format('opentype');
      }
      @font-face {
        font-family: 'Quicksand';
        src: url('/fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
      }

      body {
        background-image: url('https://itbem-events-bucket-prod.s3.amazonaws.com/patterns/patron-fino-ondas.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #ffffff;
        font-family: 'Quicksand', sans-serif;
        color: #07293A;
        margin: 0;
        padding: 0;
      }
      h1, h2, h3, .title {
        font-family: 'Bigilla', serif;
        color: #8B5D3D;
      }
      .highlight {
        color: #007BC4;
      }
      .alt-highlight {
        color: #1B1464;
      }
    </style>
  </head>
  <body>
<main class="max-w-5xl mx-auto px-4 py-2 space-y-20 overflow-x-hidden">
  <img
      src="/backgrounds/vectores-1.svg"
      alt=""
      class="absolute top-0 right-0 w-[72px]  z-[-1] opacity-20"
  />

    <!-- Header -->
  <header class="py-2 text-center space-y-6 relative z-10">
    <h1 class="text-4xl bold font-[Bigilla] text-[#8B5D3D]">EL GRAN D칈A</h1>
    <div class="">
      <div class="min-w-[360px] flex justify-center gap-8 text-[#07293A]">
        <CountdownTimer targetDate={graduationDate} client:visible />
      </div>
    </div>
  </header>

  <!-- SECCI칍N 1 -->
  <section class="text-center space-y-6 pb-4 relative z-10">
    <h2 class="text-5xl font-bold">NOS GRADUAMOS</h2>
    <div class="mx-auto w-[90%] sm:w-[80%] md:w-[70%] lg:w-[600px] aspect-[3/2] bg-gray-100 rounded shadow-md overflow-hidden">
      {resourcesBySection[0]?.sectionResources[0]?.view_url && (
            <ImageWithLoader
                src={resourcesBySection[0].sectionResources[0].view_url}
                alt={resourcesBySection[0].sectionResources[0].title || 'Colegio Izapa'}
                className="w-full h-full object-cover"
                client:load
            />
      )}
    </div>
    <div class="text-4xl font-bold">
      <p>2022 - 2025</p>
    </div>
    <div class="flex flex-row items-center justify-center gap-4 md:gap-6 max-w-4xl mx-auto">
      <div class="w-24 h-24 md:w-32 md:h-32">
        {resourcesBySection[0] && resourcesBySection[0].sectionResources[1] && (
            <ImageWithLoader
                src={resourcesBySection[0].sectionResources[1].view_url}
                alt={resourcesBySection[0].sectionResources[1].title || 'Colegio Izapa'}
                className="w-full h-full object-cover"
                client:load
            />
        )}
      </div>
      <h3 class="text-4xl md:text-5xl font-bold text-center md:text-start mt-4 md:mt-0">
        PREPARATORIA
      </h3>
    </div>
  </section>
</main>

<main class="max-w-5xl mx-auto px-4 py-2 space-y-20 overflow-x-hidden">
  <!-- SECCI칍N 2 -->
  <section class="text-center space-y-6 relative z-10">
    <div class="grid grid-cols-2 gap-2">
      {resourcesBySection[1]?.sectionResources.slice(0, 2).map((resource: Resource, index: number) => (
            <ImageWithLoader
                src={resourcesBySection[1]?.sectionResources[index].view_url}
                alt={resourcesBySection[1]?.sectionResources[index].title || 'Colegio Izapa'}
                className="w-full h-full object-contain"
                client:load
            />
      ))}
    </div>
    <p class="text-2xl leading-snug">Tenemos un logro m치s y queremos compartirlo contigo</p>
    <div class="mx-auto w-[90%] sm:w-[80%] md:w-[70%] lg:w-[600px] aspect-[3/2] bg-gray-100 rounded shadow-md overflow-hidden">
      {resourcesBySection[1] && resourcesBySection[1].sectionResources[2] && (
            <ImageWithLoader
                src={resourcesBySection[1]?.sectionResources[2].view_url}
                alt={resourcesBySection[1].sectionResources[2].title || 'Colegio Izapa'}
                className="w-full h-full object-cover"
                client:load
            />
      )}
    </div>
    <p class="text-2xl">este 22 de junio del 2025</p>
    <div class="flex flex-row">
      <div class="basis-2/3 place-content-center pe-4">
        <p class="text-sm leading-relaxed">
          la misa se celebrar치 en el Santuario la Villita de Guadalupe a las 6:45 p.m.
        </p>
      </div>
      <div class="basis-full sm:basis-2/3 px-2">
        <div class="bg-gray-300 w-full max-w-[500px] aspect-[4/3] rounded mx-auto overflow-hidden">
          <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3855.711226652614!2d-92.25383992316038!3d14.897417285624766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x858e0eef1d27d96d%3A0x8759c291e89adbe8!2sSantuario%20Diocesano%20La%20Villita%20de%20Guadalupe!5e0!3m2!1ses-419!2smx!4v1748106996850!5m2!1ses-419!2smx"
              class="w-full h-full"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </section>

  <!-- SECCI칍N 3 -->
  <section class="space-y-6 text-center relative z-0">
    <div class="grid grid-cols-2 gap-4">
      {[resourcesBySection[2].sectionResources[0], resourcesBySection[2].sectionResources[1]].map((src, index) => (
          <div class="bg-gray-100 aspect-[3/2] rounded shadow-md overflow-hidden">
            <ImageWithLoader
                src={src.view_url}
                alt={src.title || 'Colegio Izapa'}
                className="w-full h-full object-cover"
                client:load
            />
          </div>
      ))}
    </div>
    <div class="flex flex-row">
      <div class="basis-full sm:basis-2/3 px-2">
        <div class="bg-gray-300 w-full max-w-[500px] aspect-[4/3] rounded mx-auto overflow-hidden">
          <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3856.1165481300136!2d-92.28686442316067!3d14.874759985644767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x858e0f003d3b1c25%3A0x878b155778419b43!2sHotel%20holiday%20entrada%20principal!5e0!3m2!1ses-419!2smx!4v1748107202928!5m2!1ses-419!2smx"
              class="w-full h-full"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <div class="basis-2/3 place-content-center ps-2">
        <p class="text-sm leading-relaxed">
        posteriormente la recepci칩n ser치 en el Sal칩n Barista del Hotel Holiday Inn a las 8:30 p.m.
        </p>
      </div>
    </div>
    <div class="grid grid-cols-2 gap-4">
      {[resourcesBySection[2].sectionResources[2], resourcesBySection[2].sectionResources[3]].map((src, index) => (
          <div class="bg-gray-100 aspect-[3/2] rounded shadow-md overflow-hidden">
            <ImageWithLoader
                src={src.view_url}
                alt={src.title || 'Colegio Izapa'}
                className="w-full h-full object-cover"
                client:load
            />
          </div>
      ))}
    </div>
  </section>

  <!-- SECCI칍N 4 -->
  <section class="space-y-6 text-center relative z-0">
    <h2 class="text-3xl font-semibold">Graduados</h2>
    <ul class="font-medium space-y-1">
      <li class="highlight">Ana Gloria V치squez Vel치zquez</li>
      <li class="alt-highlight">츼ngel Tonatiuh Vanegas Zamora</li>
      <li class="highlight">Ernesto Salas Obreg칩n</li>
      <li class="alt-highlight">Gael Adri치n Garc칤a Somohano</li>
      <li class="highlight">Jos칠 Antonio Bola침os C칩rdoba</li>
      <li class="alt-highlight">Julia Maga침a Ram칤rez</li>
      <li class="highlight">Kelly Berenice Villalobos Zamora</li>
      <li class="alt-highlight">Mar칤a de Jes칰s Romero Cigarroa</li>
      <li class="highlight">Mar칤a Luisa C칩rdoba Tang</li>
      <li class="alt-highlight">Miguel 츼ngel Aceves Orellana</li>
      <li class="highlight">Pedro Maximiliano L칩pez Miranda</li>
      <li class="alt-highlight">Ra칰l Flores Wong</li>
      <li class="highlight">Renata Montiel D칤az</li>
      <li class="alt-highlight">Valeria Trujillo Iniesta</li>
    </ul>
    <div class="mx-auto w-[90%] sm:w-[80%] md:w-[70%] lg:w-[600px] aspect-[3/2] bg-gray-100 rounded shadow-md overflow-hidden my-6">
      <ImageWithLoader
          src={resourcesBySection[3]?.sectionResources[0]?.view_url}
          alt="Foto final de graduados"
          className="w-full h-full object-cover"
          client:load
      />
    </div>
    <p class="italic text-xl">celebremos juntos</p>
  </section>

  <!-- SECCI칍N 5 -->
  <section class="space-y-6 relative z-0">
    <div class="grid grid-cols-2 gap-4">
      {resourcesBySection[4]?.sectionResources.slice(0, 2).map((resource: Resource, index: number) => (
          <div class="bg-gray-100 aspect-[3/2] rounded shadow-md overflow-hidden">
            <ImageWithLoader
                src={resource.view_url}
                alt={resource.title || 'Colegio Izapa'}
                className="w-full h-full object-cover"
                client:load
            />
          </div>
      ))}
    </div>
    <div class="grid grid-cols-3 gap-4">
      {resourcesBySection[4]?.sectionResources.slice(2, 6).map((resource: Resource, index: number) => (
          <div class="bg-gray-100 aspect-[3/2] rounded shadow-md overflow-hidden">
            <ImageWithLoader
                src={resource.view_url}
                alt={resource.title || 'Colegio Izapa'}
                className="w-full h-full object-cover"
                client:load
            />
          </div>
      ))}
    </div>
  </section>
</main>

<main class="max-w-5xl mx-auto px-4 py-2 space-y-20 overflow-x-hidden">
<!-- FOOTER -->
<footer class="bg-white border-t mt-16 py-10 text-center text-gray-600 text-sm">
  <div class="flex flex-col sm:flex-row justify-center items-center gap-4">
    <div class="flex items-center gap-1">
      <span class="font-bold" style="color: #DD2284">eventi</span><span class="font-bold text-black">app</span><span class="ml-1">2025 by itbem.</span>
    </div>
    <div class="flex items-center gap-2">
      游님 <span class="text-black">9626240796</span>
    </div>
    <div class="flex items-center gap-2">
      九괦잺 <span class="text-black">contacto@itbem.com</span>
    </div>
  </div>
</footer>
</main>
</body>
  <style>
    .highlight {
      background: linear-gradient(120deg, #a78bfa 0%, #ec4899 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .alt-highlight {
      background: linear-gradient(120deg, #06b6d4 0%, #3b82f6 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  </style>
</TemplateLayout>
